.home-style2{
	.furnikit_breadcrumbs{
		display:none;
	}
	.wpb_revslider_element{
		margin-bottom: 0;
	}
	.zr-woo-tab-default .resp-tab {
		.category-slider-content{
			padding-right: 0;
			.rtl &{
				padding-left: 0;
			}
		}
		.tab-content .res-button{
			display: none !important;	
		}
	}
}
.header-style2{
	.main-menu{
		margin-right: 30px;
	}
}
.banner-cate{
	position: relative; overflow: hidden;
	h2{
		position: absolute;bottom: 20px;right: 20px;z-index: 2;font-size: 12px;color: #000;
		text-transform: capitalize;background: #fff;padding: 0px 25px;box-shadow: 0 1px 1px #eee;
		border-radius: 4px;margin-bottom: 0;height: 40px;line-height: 40px;
	}
	.vc_figure {
		width: 100%;
		a{
			width: 100%;
			img{
				width: 100%; .transition(all 0.5s);
				&:hover{
					opacity: (1); .scale(1.02); .transition(all 0.5s);
				}
			}
		}
	}
}