.home-style1{
	.furnikit_breadcrumbs{
		display:none;
	}
	.wpb_revslider_element {
		margin-bottom: 60px;
		.revo-des2{
			font-size: 16px !important; font-weight: 500 !important;
		}
		.revo-more1{
			font-size: 14px !important; height: 40px !important; line-height: 39px !important; padding: 0 20px; background: #fff; display: inline-block;
			vertical-align: top; font-weight: 600 !important; .transition(all 0.3s) !important;
			&:hover{
				background: @color; color: #fff;.transition(all 0.3s) !important;
			}
		}
	}
}
.block-about2{
	text-align: center; margin: 5px -15px 40px -15px;
	.item{
		.item-wrap{
			background: #fff; padding: 20px 10px; margin-bottom: 0;
			.icon{
				margin: 10px 0; font-size: 20px; width: auto; height: auto; line-height: normal;
			}
			h3{
				font-size:16px; line-height: 20px; text-transform: capitalize; font-weight: 500;
				a{
					color: @body-color; .transition(all 0.3s);
					&:hover{
						color: @color; .transition(all 0.3s);
					}
				}
			}
		}
	}
}
.block-about3{
	.first{
		font-size: 12px; color: #bbb; margin-bottom: 5px; font-weight: 500;
	}
	h3{
		font-size: 24px; color: @body-color; text-transform: capitalize; margin-bottom: 15px; font-weight: 500;
	}
	p{
		margin-bottom: 35px;
	}
	a{
		height: 40px; line-height: 40px; padding: 0 15px;border-radius: 4px; background: #8fd021;
		color: #fff; text-transform: capitalize; display: inline-block; vertical-align: top;  font-size: 12px;
		&:hover{
			background-color: @color; .transition(all 0.3s);
		}
	}
}