.home-style2{
	.furnikit_breadcrumbs{
		display:none;
	}
	.wpb_revslider_element {
		margin-bottom: 30px;
	}
	.zr-promotion{
		margin-bottom: 67px;
	}
}
.zr-wootab-slider{
	margin-bottom: 30px;
	.resp-tab .category-slider-content{
		overflow:hidden;
		.button-collapse{
			display:none;
		}
		.nav-tabs-select{
			overflow: initial; margin-bottom: 51px;
			ul.nav-tabs{
				border: none; margin: 0; text-align: center;
				li{
					margin:0; float: none; display: inline-block; vertical-align:top; position: relative;
					.rtl &{
						float: none; display: inline-block; vertical-align:top;
					}
					&:before{
						content:""; width: 5px; height:2px; position:absolute; right:0; top: 15px; background: #c5c5c5;
					}
					> a{
						border:0; position: relative;font-size:18px; color: #c5c5c5;
						text-transform:uppercase;padding:5px 15px;font-weight: bold;
						border-radius:0; .transition(all 0.3s);
						&:before{
							content: ""; width: 0; height: 2px; position: absolute; bottom: -2px; background: @body-color;
							.transition(all 0.3s); left: 50%; width: 0;
							.rtl &{
								left: auto; right: 50%;
							}
						}
					}
					&.active> a, &:hover >a{
						color:@body-color; background: transparent; .transition(all 0.3s);
						&:before{
							width: 100px; margin-left: -50px;
							.rtl &{
								margin-left: 0; margin-right: -50px;
							}
						}
					}
					&:last-child{
						&:before{
							display: none;
						}
					}
				}
			}
		}
		.tab-content{
			.tab-pane{
				&.active{
					.button-style3;
				}
				.woo-tab-container-slider{
					.resp-slider-container{
						margin: 0 -15px;
						.item{
							padding: 0 15px;
							.item-wrap{
								margin-bottom: 25px;
								.item-detail {
									.item-content{
										background: #fff; position: relative; padding-top: 24px;
										h4{
											text-align: center; font-weight: normal; text-transform: capitalize;
											a{
												font-size: 14px; 
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.zr-woo-tab-style2{
		.woocommmerce-shop{
			text-align: center;
			a{
				font-size: 11px;border: 1px #222 solid;text-transform: uppercase;padding: 8px 20px;
				display: inline-block; vertical-align: top; .transition(all 0.3s);
				&:hover{
					background: @body-color; color: #fff; .transition(all 0.3s);
				}
			}
		}
	}
}
.testimonial-slider{
	text-align: center; margin: 42px 0 50px 0;
	.block-title{
		h2{
			position: relative; font-size: 20px; color: #fff; text-transform: uppercase; margin-bottom: 50px; font-weight: 600;
			&:before{
				position: absolute; content:""; width: 180px; height: 2px; bottom: -5px; left: 50%; margin-left: -90px; background: #fff;
				.rtl &{
					left: auto; right: 50%; margin-left: 0; margin-right: -90px;
				}
			}
		}
	}
	.carousel-indicators{
		display: none;
	}
	.carousel-inner{
		.item{
			.item-inner{
				.client-comment{
					color: rgba(255, 255, 255, 0.7); font-size: 15px; padding: 0 26%; margin-bottom: 38px; line-height: 26px;
				}
				.client-say-info{
					.image-client{
						border-radius: 50%; overflow: hidden; margin-bottom: 20px;
						img{
							margin: 0 auto; border-radius: 50%; width: 80px;
						}
					}
					.name-client{
						h2{
							font-size: 14px; color: #fff; text-transform: capitalize;
							span{
								color: @color;
							}
						}
					}
				}
			}
		}
	}
}
.zr-category-slider3{
	.childcat-slider-content{
		.banner-category{
			width: 50%; float: left;
			.rtl &{
				float: right;
			}
			a img{
				margin-bottom: 0;
			}
		}
		.resp-slider-container{
			width: 50%; float: left;
			.rtl &{
				float: right;
			}
			.items-wrapper{
				background: url(../assets/img/bg_childcat.jpg); overflow: hidden; padding: 15px;
				.item{
					width: 50%; float: left; padding: 15px;
					.rtl &{
						float: right;
					}
					.item-inner{
						position: relative;
						.item-image{
							a img{
								margin-bottom:0;
							}
						}
						.item-content{
							position:absolute; bottom:0px; left:0; right:0; text-align:center; text-transform:uppercase; padding: 25px 0;
							h3{
								margin-bottom:5px;
								a{
									font-size:18px;
									&:hover{
										.transition(all 0.3s);
									}
								}
							}
							.shop-now{
								font-size:11px; color: @a-color;
							}
						}
					}
				}
			}
		}
	}
	&.style1{
		.childcat-slider-content {
			.banner-category, .resp-slider-container{
				float: right;
				.rtl &{
					float: left;
				}
			}
		}
	}
}