@media (max-width: 767px) {
	body .container{
		padding: 0 15px;
	}
	.wpb_revslider_element {
		.revo-des2{
			font-size: 13px !important; margin-top: 5px !important;
		}
		.revo-more1{
			height: 32px !important; line-height: 31px !important; padding: 0 12px !important; margin-top: 15px !important;
			.home-style2 &{
				margin-top: 10px !important;
			}
		}
		.revo-more2{
			height: 32px !important; line-height: 31px !important; padding: 0 12px !important;
		}
		.revo-des4{
			font-size: 20px !important;
		}
	}
	.header-style1, .header-style2, .header-style3, .header-style4{
		.sticky-menu{
			position: relative;
		}
	}
	.header-style1{
		.furnikit-logo{
			width: 100%; margin: 0; padding: 15px 0;
			a img{
				margin: 0 auto;
			}
		}
		#main-menu{
			padding: 0;
			.resmenu-container .navbar-toggle{
				margin:0;
			}
		}
		.search-cate, .top-form-minicart.furnikit-minicart{
			margin-top: 0;
		}
		.resmenu-container .menu-responsive-wrapper{
			top: 40px;
		}
		.search-cate .top-form.top-search{
			position: fixed; top:0; left:0; right:0; width: 100%;
		}
	}
	.search-cate {
		.icon-search.close:before{
			display: none;
		}
		.top-form.top-search{
			position: fixed; top:0; left:0; right:0; width: 100%;
			.rtl &{
				top:0; left:0; right:0; width: 100%;
			}
			.search-wrapper{
				padding-top:0;
				.cat-wrapper{
					display: none;
				}
			}
		}
	}
	.header-style2{
		padding: 0;
		.furnikit-logo{
			height: 75px; -webkit-justify-content: center; -ms-justify-content: center; justify-content: center;
		}
		.header-wishlist, .header-account{
			display: none;
		}
		#main-menu{
			float: left;
			.rtl &{
				float: right;
			}
		}
	}
	.header-style3, .header-style4{
		.header-wishlist, .header-account{
			display: none;
		}
		#main-menu{
			float: left;
			.rtl &{
				float: right;
			}
		}
		.furnikit-logo{
			-webkit-justify-content: center; -ms-justify-content: center; justify-content: center;
		}
		.top-signup{
			display: none;
		}
	}
	.sw-woo-tab-cat .resp-tab .category-slider-content, .responsive-post-slider .resp-slider-container{
		.block-title h3{
			font-size: 28px !important; line-height: 44px !important;
		}
	}
	.zr-child-cat-listing .zr-childcat-container{
		.item.product{
			width: 100%;
		}
		.zr-childcat-top .zr-child-cat-top-inner .child-left{
			.box-title h3{
				font-size: 18px; margin-bottom: 10px;
			}
			&.has-banner{
				width: 100%;
			}
		}
		.zr-childcat-top .zr-child-cat-top-inner .banner-child-cat{
			display: none;
		}
	}
	.products-wrapper .products-loop.grid >li{
		width: 100%;
	}
	.products-wrapper .products-loop.list .item .item-wrap .item-detail {
		.products-thumb{
			width: 100%;
		}
	}
	.block-about4{
		margin-bottom: 30px;
	}
	.item .item-wrap:hover .item-detail .item-img a.zr-quickview{
		display: none; opacity: 0;
	}
	.tparrows{
		display: none !important;
	}
	.single-post-relate .post{
		margin-bottom: 30px;
	}
	.category-contents .blog-content .post .entry .entry-content .entry-title h4 a{
		font-size: 20px;
	}
	.category-contents .blog-content .post .entry .entry-content .content-top .entry-meta .entry-author{
		padding-bottom: 10px;
	}
	.tab-about-content, .testimonial-slider .carousel-inner .item .item-inner .client-comment{
		padding: 0 10px;
	}
	.about-top .title h3{
		font-size: 24px;
	}
	.block-about2 .item .item-wrap{
		padding: 5px 0;
	}
	.zr-woo-tab-default .resp-tab .category-slider-content , .zr-woo-tab-cat .resp-tab .category-slider-content {
		.block-title h3{
			font-size: 24px;
		}
	}
	.zr-woo-tab-default, .zr-woo-tab-cat{
		.button-collapse{
			position:absolute;
			top:5px;right: 40px;
			z-index:99;
			display:block;
			background: @color none repeat scroll 0 0;
			border-radius: 3px;
			border:0;
			margin:0;
			padding:0;
			cursor: pointer;
			height: 30px;width: 30px;line-height: 30px;			
			text-align: center;
			display: block !important;
			.home-style2 &{
				right:0;
			}
			.rtl &{
				left:40px; right:auto;
				.home-style2 &{
					left: 0; right: auto;
				}
			}
			&:before{
				content:'\f0c9';
				font-family:FontAwesome;
				font-size:16px;
				color:#fff;
				height:30px;
				width:30px;
				line-height:30px;
				display:inline-block;
				text-align:center;
			}
		}
		.nav-tabs-select{
			height:0; width:100%; padding: 0; background-color:#f2f2f2;
			ul{
				padding:0;
				border:0;
				height:0;
				margin:0;
				overflow:hidden;
				text-align: left;
				position:absolute;
				top:40px;
				z-index:99;
				right:0px; left: 0;
				box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
				background:#fff;
				width:100%;
				.rtl &{
					text-align: right;
				}
				> li{
					list-style:none; padding: 0;
					line-height:40px;
					float:none !important;
					width:100%;
					border-radius:0;
					border:0;
					background-color:#fff;
					.rtl &{
						padding: 0;
					}
					&:first-child > a{
						border-top:0;
					}
					> a{
						font-size:12px;
						line-height:22px;
						color:#444;
						display:block;
						padding:9px 20px;
						border-top:1px solid #ddd;
						border-radius:0;
						margin:0;
						.rtl &{
							text-align:right;
						}
						&:after{
							width:0;
							height:0;
						}
					}
					&.active > a,&:hover > a{
						background-color:@color;
						color:#fff !important;
						border-top:1px solid @color;
						&:before{
							opacity:0 !important;
						}
					}
				}
			}
		}
	}
	.rtl.home-style2 .zr-woo-tab-default .button-collapse, .rtl.home-style2 .zr-woo-tab-cat .button-collapse{
		left: 0;
	}
	.zr-woo-container-slider {
		.zr-content .banner-info{
			width: 100%; display: block; margin-bottom: 30px;
			.box-title h2{
				font-size: 26px;
			}
		}
		&.featured-product, &.toprated-product {
			.zr-content{
				.banner-info{
					-webkit-order: 0;-ms-order: 0;order: 0;
				}
			}
		}
	}
	.header-top .top-mes, .single-product .tabs .tabbable .nav.nav-tabs li.active:before, .single-product .tabs .tabbable .nav.nav-tabs li:hover:before{
		display: none;
	}
	.single-product-countdown .single-countdown-content .single-countdown-left{
		width:120px;
	}
	.zr-woo-tab-style2 .resp-tab .category-slider-content .nav-tabs-select ul li{
		width: 100%;
		&:before{
			display: none;
		}
		a{
			padding:0;
			.rtl &{
				padding: 0;
			}
		}
	}
	#comments{
		.commentlist .children{
			margin-left:10px;
			.rtl &{
				margin-right:10px;
				margin-left:0;
			}
		}
		.comment{
			.author{
				float: none !important; overflow: hidden; margin-bottom: 10px;
			}
			.media-body{
				padding: 0 !important;
				.media .media-heading .time{
					padding:0 10px;
				}
			}
		}
	}
	.archive , .category{
		.body-wrapper-inner >.container >.row{
			display: flex; flex-direction: column; flex-wrap: wrap;
			#contents, .category-contents, .single.main{
				order: -1;
			}
		}
	}
	.has-left-sidebar{
		#left{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-right-sidebar{
		#right{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-left-product-sidebar{
		#left{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
	.has-right-product-sidebar{
		#right{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
}
