@media (max-width: 1199px) {
	body.boxed-layout .body-wrapper{
		width:100%;
		padding:0;
	}
	.header.header-style1 .furnikit-logo{
		margin-right: 20px;
	}
	.zr-child-cat-listing .zr-childcat-container {
		.zr-childcat-top{
			width: 100%;
		}
		.item.product{
			width: 33.332%;
		}
	}
	.zr-woo-container-slider .zr-content{
		.banner-info{
			display: none;
		}
		.resp-slider-container{
			width: 100%; padding: 0 !important;
			.rtl &{
				padding: 0 !important;
			}
		}
	}
	#comments .commentlist .children{
		margin-left: 20px;
		.rtl &{
			margin-right: 20px;
		}
	}
	.block-about2 .item .item-wrap{
		padding: 15px 0;
		h3{
			font-size: 15px;
		}
	}
	.newsletter-top2 {
		margin-bottom: 25px !important;
		.content-wrap {
			h3{
				display: none;
			}
			.form-newsletter{
				float: none; max-width: none;
				.rtl &{
					float: none;
				}
			}
		}
	}
	.sidebar .widget.widget_nav_menu .widget-inner ul.menu > li ul.dropdown-menu{
		margin-left: 5px;
		.rtl &{
			margin-right: 5px; margin-left: 0;
		}
	}
	.revo-pos .new-pos{
		display: none;
	}
	.footer > .footer-top-wrapper >.container .footer-info{
		padding: 0;
	}
}
