@media (max-width: 991px) {
	#main-menu {
		position: relative;
		.resmenu-container {
			.navbar-toggle {
				display: inline-block; vertical-align: top;	z-index:99;	margin:12px 0;
				.header-style2 &, .header-style3 &{
					margin-top: 19px;
				}
			}
		}
		.nav-pills {
			display: none;
		}
	}
	.header-style1{
		.search-cate, .header-cart{
			float: right;
			.rtl &{
				float: left;
			}
		}
	}
	.countdown-slider .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .item-content {
		.product-countdown{
			margin-bottom: 30px;
			.countdown-row .countdown-section{
				width: 55px; margin: 0 10px; min-height: auto;
				.countdown-amount{
					font-size: 22px;
				}
			}
		}
		.block-title{
			font-size: 26px; line-height: 36px; padding: 10px 20px; margin-bottom: 30px;
		}
		.reviews-content{
			margin-bottom: 5px;
		}
	}
	.block-about3 p{
		margin-bottom:20px;
	}
	.products-wrapper .products-nav .catalog-ordering{
		float: right;
		.rtl &{
			float: left;
		}
	}
	#comments .commentlist .children{
		margin-left: 10px;
		.rtl &{
			margin-right: 10px;
		}
	}
	.respon-style{
		display: none;
	}
	.widget_sp_image{
		text-align:center;
		img{
			display:inline-block;
			width:auto;
		}
	}
	.woocommerce-cart #contents {
		.woocommerce-cart-form, .cart-collaterals{
			width: 100%; float: none;
			.rtl &{
				float: none;
			}
		}
	}
}