@media (max-width: 767px) {
	body .container{
		padding: 0 15px;
	}
	.header.header-style1{
		.sticky-menu{
			position: relative;
		}
		.furnikit-logo{
			width: 100%; margin: 0; padding: 15px 0;
			a img{
				margin: 0 auto;
			}
		}
		#main-menu{
			padding: 0;
			.resmenu-container .navbar-toggle{
				margin:0;
			}
		}
		.header-right .header-right-inner .header-login{
			padding: 12px 0 10px 0; margin-right: 5px;
			.rtl &{
				margin-right: 0; margin-left: 5px;
			}
			.top-login > a{
				padding: 0 15px 0 0;
				.rtl &{
					padding: 0 0 0 15px;
				}
			}
		}
		.search-cate, .top-form-minicart.furnikit-minicart{
			margin-top: 0;
		}
		.header-wishlist{
			display: none;
		}
		.resmenu-container .menu-responsive-wrapper{
			top: 40px;
		}
	}
	.sw-woo-tab-cat .resp-tab .category-slider-content, .woo-slider-default, .responsive-post-slider .resp-slider-container{
		.block-title h3{
			font-size: 28px !important; line-height: 44px !important;
		}
	}
	.countdown-slider .item-countdown .item-wrap .item-detail .item-content{
		padding: 0;
		.item-info{
			padding: 30px 10px;
		}
		.item-price{
			del{
				font-size: 16px;
			}
			ins{
				font-size: 22px;
			}
		}
		.product-countdown{
			.countdown-row{
				.flex-display(flex);
				.justify-content(center);
				.countdown-section{
					.countdown-amount{
						font-size: 16px; width: 50px;
					}
				}
			}
		}
	}
	.zr-child-cat-listing .zr-childcat-container{
		.item.product{
			width: 100%;
		}
		.zr-childcat-top .zr-child-cat-top-inner .child-left{
			.box-title h3{
				font-size: 18px; margin-bottom: 10px;
			}
			&.has-banner{
				width: 100%;
			}
		}
		.zr-childcat-top .zr-child-cat-top-inner .banner-child-cat{
			display: none;
		}
	}
	.products-wrapper .products-loop.grid >li{
		width: 100%;
	}
	.products-wrapper .products-loop.list .item .item-wrap .item-detail {
		.products-thumb{
			width: 100%;
		}
	}
	.item .item-wrap:hover .item-detail .item-img a.zr-quickview{
		display: none; opacity: 0;
	}
	.tparrows{
		display: none !important;
	}
	.single-post-relate .post{
		margin-bottom: 30px;
	}
	.category-contents .blog-content .post .entry .entry-content .entry-title h4 a{
		font-size: 20px;
	}
	.tab-about-content, .testimonial-slider .carousel-inner .item .item-inner .client-comment{
		padding: 0 10px;
	}
	.about-top .title h3{
		font-size: 24px;
	}
	.contact-right .item{
		width: 100%; border: none !important;
	}
	.zr-wootab-slider .resp-tab .category-slider-content .nav-tabs-select ul.nav-tabs li{
		width: 100%;
		&:before{
			display: none;
		}
		&.active{
			a:before{
				display: none;
			}
		}
	}
	.zr-category-slider3 .childcat-slider-content {
		.banner-category, .resp-slider-container{
			width: 100%;
		}
		.resp-slider-container .items-wrapper .item{
			width: 100%;
		}
	}
	.zr-woo-container-slider {
		.zr-content .banner-info{
			width: 100%; display: block; margin-bottom: 30px;
			.box-title h2{
				font-size: 26px;
			}
		}
		&.featured-product, &.toprated-product {
			.zr-content{
				.banner-info{
					-webkit-order: 0;-ms-order: 0;order: 0;
				}
			}
		}
	}
	#comments{
		.commentlist .children{
			margin-left:10px;
			.rtl &{
				margin-right:10px;
				margin-left:0;
			}
		}
		.comment{
			.author{
				float: none !important; overflow: hidden; margin-bottom: 10px;
			}
			.media-body{
				padding: 0 !important;
				.media .media-heading .time{
					padding:0 10px;
				}
			}
		}
	}
	.archive , .category{
		.body-wrapper-inner >.container >.row{
			display: flex; flex-direction: column; flex-wrap: wrap;
			#contents, .category-contents, .single.main{
				order: -1;
			}
		}
	}
	.has-left-sidebar{
		#left{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-right-sidebar{
		#right{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-left-product-sidebar{
		#left{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
	.has-right-product-sidebar{
		#right{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
}
