@media (max-width: 991px) {
	#main-menu {
		position: relative;
		.resmenu-container {
			.navbar-toggle {
				display: inline-block; vertical-align: top;	z-index:99;	margin:12px 0;
				.header-style2 &, .header-style3 &, .header-style4 &{
					margin-top: 21px;
				}
			}
		}
		.nav-pills {
			display: none;
		}
	}
	.resmenu-container-sidebar{
		.furnikit_top{
			padding: 0;
			.top-form.top-search{
				min-width: auto;
				box-shadow: 0 0 0 1px #e4e4e4;
				-webkit-box-shadow: 0 0 0 1px #e4e4e4;
				border-radius: 0; margin: 0; width: 100%;
				.cat-wrapper{
					display: none;
				}
				input{
					padding: 0 10px; border-radius: 4px; height: 40px; line-height: 40px;
					.rtl &{
						border-radius:4px;
					}
				}
				button.form-button{
					background: none; font-size: 16px; border-radius: 0 4px 4px 0; height: 40px; line-height: 40px;
					&:before{
						color: #999;
					}
					.rtl &{
						border-radius: 4px 0 0 4px;
					}
				}
				.topsearch-entry{
					.rtl &{
						padding-right: 0;
					}
				}
			}
		}
		.topsearch-entry {
			.search-append{
				left: 0;
			}
		}
	}
	.resmenu-container .menu-responsive-wrapper ul.furnikit_resmenu{
		max-height:228px;
		overflow-y:auto;
	}
	.header-style1{
		.search-cate, .header-cart{
			float: right;
			.rtl &{
				float: left;
			}
		}
		.top-form-minicart, .search-cate{
			margin-top: 12px;
		}
		.header-top{
			padding: 10px 0;
		}
	}
	.countdown-slider .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .item-content {
		.product-countdown{
			margin-bottom: 30px;
			.countdown-row .countdown-section{
				width: 55px; margin: 0 10px; min-height: auto;
				.countdown-amount{
					font-size: 22px;
				}
			}
		}
		.block-title{
			font-size: 26px; line-height: 36px; padding: 10px 20px; margin-bottom: 30px;
		}
		.reviews-content{
			margin-bottom: 5px;
		}
	}
	.block-about3 p{
		margin-bottom:20px;
	}
	.products-wrapper .products-nav .catalog-ordering{
		float: right;
		.rtl &{
			float: left;
		}
	}
	#comments .commentlist .children{
		margin-left: 10px;
		.rtl &{
			margin-right: 10px;
		}
	}
	.respon-style{
		display: none;
	}
	.widget_sp_image{
		text-align:center;
		img{
			display:inline-block;
			width:auto;
		}
	}
	.woocommerce-cart #contents {
		.woocommerce-cart-form, .cart-collaterals{
			width: 100%; float: none;
			.rtl &{
				float: none;
			}
		}
	}
}