@media (min-width: 1824px){

}
@media (min-width: 1400px) and (max-width: 1824px){
	.wpb_revslider_element {
		.revo-des5{
			font-size: 48px !important;
		}
	}
}
@media (min-width: 1200px) and (max-width: 1390px){
	.wpb_revslider_element {
		.shape-in{
			min-height: 208px !important;
		}
		.revo-des5{
			font-size: 48px !important;
		}
	}
}
@media (min-width: 1200px) {

}