@-ms-viewport {
  width: device-width;
}
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
@media (max-width: 1199px) {
  body.boxed-layout .body-wrapper {
    width: 100%;
    padding: 0;
  }
  .header.header-style1 .furnikit-logo {
    margin-right: 20px;
  }
  .zr-child-cat-listing .zr-childcat-container .zr-childcat-top {
    width: 100%;
  }
  .zr-child-cat-listing .zr-childcat-container .item.product {
    width: 33.332%;
  }
  .zr-woo-container-slider .zr-content .banner-info {
    display: none;
  }
  .zr-woo-container-slider .zr-content .resp-slider-container {
    width: 100%;
    padding: 0 !important;
  }
  .rtl .zr-woo-container-slider .zr-content .resp-slider-container {
    padding: 0 !important;
  }
  #comments .commentlist .children {
    margin-left: 20px;
  }
  .rtl #comments .commentlist .children {
    margin-right: 20px;
  }
  .block-about2 .item .item-wrap {
    padding: 15px 0;
  }
  .block-about2 .item .item-wrap h3 {
    font-size: 15px;
  }
  .newsletter-top2 {
    margin-bottom: 25px !important;
  }
  .newsletter-top2 .content-wrap h3 {
    display: none;
  }
  .newsletter-top2 .content-wrap .form-newsletter {
    float: none;
    max-width: none;
  }
  .rtl .newsletter-top2 .content-wrap .form-newsletter {
    float: none;
  }
  .sidebar .widget.widget_nav_menu .widget-inner ul.menu > li ul.dropdown-menu {
    margin-left: 5px;
  }
  .rtl .sidebar .widget.widget_nav_menu .widget-inner ul.menu > li ul.dropdown-menu {
    margin-right: 5px;
    margin-left: 0;
  }
  .footer > .footer-top-wrapper >.container .footer-info {
    padding: 0;
  }
}
@media (max-width: 991px) {
  #main-menu {
    position: relative;
  }
  #main-menu .resmenu-container .navbar-toggle {
    display: inline-block;
    vertical-align: top;
    z-index: 99;
    margin: 12px 0;
  }
  .header-style2 #main-menu .resmenu-container .navbar-toggle,
  .header-style3 #main-menu .resmenu-container .navbar-toggle,
  .header-style4 #main-menu .resmenu-container .navbar-toggle {
    margin-top: 21px;
  }
  #main-menu .nav-pills {
    display: none;
  }
  .resmenu-container-sidebar .furnikit_top {
    padding: 0;
  }
  .resmenu-container-sidebar .furnikit_top .top-form.top-search {
    min-width: auto;
    box-shadow: 0 0 0 1px #e4e4e4;
    -webkit-box-shadow: 0 0 0 1px #e4e4e4;
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
  .resmenu-container-sidebar .furnikit_top .top-form.top-search .cat-wrapper {
    display: none;
  }
  .resmenu-container-sidebar .furnikit_top .top-form.top-search input {
    padding: 0 10px;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
  }
  .rtl .resmenu-container-sidebar .furnikit_top .top-form.top-search input {
    border-radius: 4px;
  }
  .resmenu-container-sidebar .furnikit_top .top-form.top-search button.form-button {
    background: none;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    height: 40px;
    line-height: 40px;
  }
  .resmenu-container-sidebar .furnikit_top .top-form.top-search button.form-button:before {
    color: #999;
  }
  .rtl .resmenu-container-sidebar .furnikit_top .top-form.top-search button.form-button {
    border-radius: 4px 0 0 4px;
  }
  .rtl .resmenu-container-sidebar .furnikit_top .top-form.top-search .topsearch-entry {
    padding-right: 0;
  }
  .resmenu-container-sidebar .topsearch-entry .search-append {
    left: 0;
  }
  .resmenu-container .menu-responsive-wrapper ul.furnikit_resmenu {
    max-height: 228px;
    overflow-y: auto;
  }
  .header-style1 .search-cate,
  .header-style1 .header-cart {
    float: right;
  }
  .rtl .header-style1 .search-cate,
  .rtl .header-style1 .header-cart {
    float: left;
  }
  .header-style1 .top-form-minicart,
  .header-style1 .search-cate {
    margin-top: 12px;
  }
  .header-style1 .header-top {
    padding: 10px 0;
  }
  .countdown-slider .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .item-content .product-countdown {
    margin-bottom: 30px;
  }
  .countdown-slider .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .item-content .product-countdown .countdown-row .countdown-section {
    width: 55px;
    margin: 0 10px;
    min-height: auto;
  }
  .countdown-slider .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .item-content .product-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 22px;
  }
  .countdown-slider .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .item-content .block-title {
    font-size: 26px;
    line-height: 36px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  .countdown-slider .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .item-content .reviews-content {
    margin-bottom: 5px;
  }
  .block-about3 p {
    margin-bottom: 20px;
  }
  .products-wrapper .products-nav .catalog-ordering {
    float: right;
  }
  .rtl .products-wrapper .products-nav .catalog-ordering {
    float: left;
  }
  #comments .commentlist .children {
    margin-left: 10px;
  }
  .rtl #comments .commentlist .children {
    margin-right: 10px;
  }
  .respon-style {
    display: none;
  }
  .widget_sp_image {
    text-align: center;
  }
  .widget_sp_image img {
    display: inline-block;
    width: auto;
  }
  .woocommerce-cart #contents .woocommerce-cart-form,
  .woocommerce-cart #contents .cart-collaterals {
    width: 100%;
    float: none;
  }
  .rtl .woocommerce-cart #contents .woocommerce-cart-form,
  .rtl .woocommerce-cart #contents .cart-collaterals {
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb {
    width: 180px;
  }
}
@media (max-width: 767px) {
  body .container {
    padding: 0 15px;
  }
  .header-style1 .sticky-menu,
  .header-style2 .sticky-menu,
  .header-style3 .sticky-menu,
  .header-style4 .sticky-menu {
    position: relative;
  }
  .header-style1 .furnikit-logo {
    width: 100%;
    margin: 0;
    padding: 15px 0;
  }
  .header-style1 .furnikit-logo a img {
    margin: 0 auto;
  }
  .header-style1 #main-menu {
    padding: 0;
  }
  .header-style1 #main-menu .resmenu-container .navbar-toggle {
    margin: 0;
  }
  .header-style1 .search-cate,
  .header-style1 .top-form-minicart.furnikit-minicart {
    margin-top: 0;
  }
  .header-style1 .resmenu-container .menu-responsive-wrapper {
    top: 40px;
  }
  .header-style2 {
    padding: 0;
  }
  .header-style2 .furnikit-logo {
    height: 75px;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .header-style2 .header-wishlist,
  .header-style2 .header-account {
    display: none;
  }
  .header-style2 #main-menu {
    float: left;
  }
  .rtl .header-style2 #main-menu {
    float: right;
  }
  .header-style3 .header-wishlist,
  .header-style3 .header-account,
  .header-style4 .header-wishlist,
  .header-style4 .header-account {
    display: none;
  }
  .header-style3 #main-menu,
  .header-style4 #main-menu {
    float: left;
  }
  .rtl .header-style3 #main-menu,
  .rtl .header-style4 #main-menu {
    float: right;
  }
  .header-style3 .furnikit-logo,
  .header-style4 .furnikit-logo {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .sw-woo-tab-cat .resp-tab .category-slider-content .block-title h3,
  .responsive-post-slider .resp-slider-container .block-title h3 {
    font-size: 28px !important;
    line-height: 44px !important;
  }
  .zr-child-cat-listing .zr-childcat-container .item.product {
    width: 100%;
  }
  .zr-child-cat-listing .zr-childcat-container .zr-childcat-top .zr-child-cat-top-inner .child-left .box-title h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .zr-child-cat-listing .zr-childcat-container .zr-childcat-top .zr-child-cat-top-inner .child-left.has-banner {
    width: 100%;
  }
  .zr-child-cat-listing .zr-childcat-container .zr-childcat-top .zr-child-cat-top-inner .banner-child-cat {
    display: none;
  }
  .products-wrapper .products-loop.grid >li {
    width: 100%;
  }
  .products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb {
    width: 100%;
  }
  .item .item-wrap:hover .item-detail .item-img a.zr-quickview {
    display: none;
    opacity: 0;
  }
  .tparrows {
    display: none !important;
  }
  .single-post-relate .post {
    margin-bottom: 30px;
  }
  .category-contents .blog-content .post .entry .entry-content .entry-title h4 a {
    font-size: 20px;
  }
  .tab-about-content,
  .testimonial-slider .carousel-inner .item .item-inner .client-comment {
    padding: 0 10px;
  }
  .about-top .title h3 {
    font-size: 24px;
  }
  .block-about2 .item .item-wrap {
    padding: 5px 0;
  }
  .zr-woo-tab-default .resp-tab .category-slider-content .block-title h3,
  .zr-woo-tab-cat .resp-tab .category-slider-content .block-title h3 {
    font-size: 24px;
  }
  .zr-woo-tab-default .button-collapse,
  .zr-woo-tab-cat .button-collapse {
    position: absolute;
    top: 5px;
    right: 40px;
    z-index: 99;
    display: block;
    background: #8fd021 none repeat scroll 0 0;
    border-radius: 3px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    display: block !important;
  }
  .home-style2 .zr-woo-tab-default .button-collapse,
  .home-style2 .zr-woo-tab-cat .button-collapse {
    right: 0;
  }
  .rtl .zr-woo-tab-default .button-collapse,
  .rtl .zr-woo-tab-cat .button-collapse {
    left: 40px;
    right: auto;
  }
  .home-style2 .rtl .zr-woo-tab-default .button-collapse,
  .home-style2 .rtl .zr-woo-tab-cat .button-collapse {
    left: 0;
    right: auto;
  }
  .zr-woo-tab-default .button-collapse:before,
  .zr-woo-tab-cat .button-collapse:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
  }
  .zr-woo-tab-default .nav-tabs-select,
  .zr-woo-tab-cat .nav-tabs-select {
    height: 0;
    width: 100%;
    padding: 0;
    background-color: #f2f2f2;
  }
  .zr-woo-tab-default .nav-tabs-select ul,
  .zr-woo-tab-cat .nav-tabs-select ul {
    padding: 0;
    border: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    text-align: left;
    position: absolute;
    top: 40px;
    z-index: 99;
    right: 0px;
    left: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    background: #fff;
    width: 100%;
  }
  .rtl .zr-woo-tab-default .nav-tabs-select ul,
  .rtl .zr-woo-tab-cat .nav-tabs-select ul {
    text-align: right;
  }
  .zr-woo-tab-default .nav-tabs-select ul > li,
  .zr-woo-tab-cat .nav-tabs-select ul > li {
    list-style: none;
    padding: 0;
    line-height: 40px;
    float: none !important;
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: #fff;
  }
  .rtl .zr-woo-tab-default .nav-tabs-select ul > li,
  .rtl .zr-woo-tab-cat .nav-tabs-select ul > li {
    padding: 0;
  }
  .zr-woo-tab-default .nav-tabs-select ul > li:first-child > a,
  .zr-woo-tab-cat .nav-tabs-select ul > li:first-child > a {
    border-top: 0;
  }
  .zr-woo-tab-default .nav-tabs-select ul > li > a,
  .zr-woo-tab-cat .nav-tabs-select ul > li > a {
    font-size: 12px;
    line-height: 22px;
    color: #444;
    display: block;
    padding: 9px 20px;
    border-top: 1px solid #ddd;
    border-radius: 0;
    margin: 0;
  }
  .rtl .zr-woo-tab-default .nav-tabs-select ul > li > a,
  .rtl .zr-woo-tab-cat .nav-tabs-select ul > li > a {
    text-align: right;
  }
  .zr-woo-tab-default .nav-tabs-select ul > li > a:after,
  .zr-woo-tab-cat .nav-tabs-select ul > li > a:after {
    width: 0;
    height: 0;
  }
  .zr-woo-tab-default .nav-tabs-select ul > li.active > a,
  .zr-woo-tab-default .nav-tabs-select ul > li:hover > a,
  .zr-woo-tab-cat .nav-tabs-select ul > li.active > a,
  .zr-woo-tab-cat .nav-tabs-select ul > li:hover > a {
    background-color: #8fd021;
    color: #fff !important;
    border-top: 1px solid #8fd021;
  }
  .zr-woo-tab-default .nav-tabs-select ul > li.active > a:before,
  .zr-woo-tab-default .nav-tabs-select ul > li:hover > a:before,
  .zr-woo-tab-cat .nav-tabs-select ul > li.active > a:before,
  .zr-woo-tab-cat .nav-tabs-select ul > li:hover > a:before {
    opacity: 0 !important;
  }
  .rtl.home-style2 .zr-woo-tab-default .button-collapse,
  .rtl.home-style2 .zr-woo-tab-cat .button-collapse {
    left: 0;
  }
  .zr-woo-container-slider .zr-content .banner-info {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  .zr-woo-container-slider .zr-content .banner-info .box-title h2 {
    font-size: 26px;
  }
  .zr-woo-container-slider.featured-product .zr-content .banner-info,
  .zr-woo-container-slider.toprated-product .zr-content .banner-info {
    -webkit-order: 0;
    -ms-order: 0;
    order: 0;
  }
  .header-top .top-mes {
    display: none;
  }
  #comments .commentlist .children {
    margin-left: 10px;
  }
  .rtl #comments .commentlist .children {
    margin-right: 10px;
    margin-left: 0;
  }
  #comments .comment .author {
    float: none !important;
    overflow: hidden;
    margin-bottom: 10px;
  }
  #comments .comment .media-body {
    padding: 0 !important;
  }
  #comments .comment .media-body .media .media-heading .time {
    padding: 0 10px;
  }
  .archive .body-wrapper-inner >.container >.row,
  .category .body-wrapper-inner >.container >.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .archive .body-wrapper-inner >.container >.row #contents,
  .archive .body-wrapper-inner >.container >.row .category-contents,
  .archive .body-wrapper-inner >.container >.row .single.main,
  .category .body-wrapper-inner >.container >.row #contents,
  .category .body-wrapper-inner >.container >.row .category-contents,
  .category .body-wrapper-inner >.container >.row .single.main {
    order: -1;
  }
  .has-left-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-sidebar .category-contents,
  .has-left-sidebar .single.main {
    float: none;
  }
  .has-right-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-sidebar .category-contents,
  .has-right-sidebar .single.main {
    float: none;
  }
  .has-left-product-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-product-sidebar #contents-detail,
  .has-left-product-sidebar #contents {
    float: none;
  }
  .has-right-product-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-product-sidebar #contents-detail,
  .has-right-product-sidebar #contents {
    float: none;
  }
}
@media (max-width: 640px) {
  .contact-mail .wpcf7 .cf-name,
  .contact-mail .wpcf7 .cf-mail,
  .contact-mail .wpcf7 .cf-sub {
    width: 100%;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 360px) {
  .rtl.woocommerce div.product form.cart .group_table td.label {
    text-align: right;
  }
}
@media (max-width: 320px) {
  .countdown-slider .resp-slider-container .slick-slider .slick-list .item-countdown .item-wrap .item-detail .item-content .product-countdown .countdown-row .countdown-section {
    margin: 0 5px;
  }
}
@media (min-width: 1368px) {
  .wp-comingsoon {
    min-height: 980px;
  }
}
@media (min-width: 1200px) {
  .clear_lg {
    clear: both;
  }
  .rtl [class*="col-lg-"],
  .rtl [class*="col-md-"],
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .clear_md {
    clear: both;
  }
  .rtl [class*="col-md-"],
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
  .wpb_revslider_element .rev_slider_wrapper ul > li.tp-revslider-slidesli  .tp-parallax-wrap .tp-caption.rev-btn {
    display: none !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  #cpanel-form a.cpanel-control {
    display: none;
  }
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
}
@media (max-width: 767px) {
  .clear_xs {
    clear: both;
  }
  .rtl .block-text1-home4 [class*="col-lg-"] {
    float: none;
  }
  .rtl [class*="col-xs-"] {
    float: right;
  }
  .sidebar-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sidebar-row aside#left {
    order: 1;
    width: 100%;
  }
  .sidebar-row aside#right {
    order: 1;
    width: 100%;
  }
  .sidebar-row > div {
    width: 100%;
  }
  .woocommerce-account #contents .entry-content .woocommerce-MyAccount-content,
  .woocommerce-account #contents .entry-content nav.woocommerce-MyAccount-navigation {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 479px) {
  [class*="col-xs-"] {
    float: none;
  }
  .rtl [class*="col-xs-"] {
    float: none;
  }
}
